.menu{
    display:flex;
    align-items: center;
    background-color:#ff7300;
    justify-content: space-between;
    padding:1%;
}

.menu h2{
    font-size: 59px;
}

.links_menu span{
    margin-right:20px;
    
}

.link_style{
    text-decoration: none;
    font-size:20.8px;
    color: white;
}

@media screen and (max-width: 768px){
    .links_menu span,
    .link_style{
        display:none;
    }
    .menu{
        width:100%;
    }

    .menu h2{
        margin: 0 auto;
    }
}